

#viewLayer{
	position: relative;
	padding : 2px
}


#viewLayer canvas {
	position: absolute;
	border: solid 2px #00aa00;
}


@media (max-aspect-ratio: 3/4){
	#viewLayer{
		box-sizing: border-box;
		width: 100vw;
		
	}
	#viewLayer canvas {
		box-sizing: border-box;
		width: 95%;
}
}

