body{
	width: 320px;
	height: 416px;
	box-sizing: border-box;
	border: outset 2px #005000;
	
}

#main{
	padding: 5px 10px;
	
	
}

h1{
	margin: -0px 0px 10px 0px;
	padding: 0px;
	border-radius: 2px;
//	border: inset #b9ffa5;
//	background: linear-gradient(#b9ffa5, #50cc30);
	background-color: #a9ee50;
	text-align: center;
	font-size: 16px;
	box-shadow: 4px 3px 2px #aaaaaa;
}

.selectDiv{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 3px 0px;
//	box-sizing: border-box;
//	border: inset #ddddbb;
	background-color: #eeeecc;
	box-shadow: 4px 3px 2px #aaaaaa;
	

}

.selectTitle{
	font-size: 12px;
	
}

#actorSelector, #stageSelector {
//	background: linear-gradient(#ffffff, #e0e0c0);
//	border: outset #ffdf90;
//	border-radius: 8px;
	
	background-color: #ffefa0;
	border: none;
	border-left: solid 5px #eec530;
	box-shadow: 3px 2px 2px #aa8030;
}

#actorText, #stageText{
	padding: 2px 4px;
	margin: 3px 0px 5px 10px;
	width: 92%;
	height: 100px;
	box-sizing: border-box;
	border: solid 1px #eeffdd;
	background-color: #ffffff;
//	box-shadow: 3px 3px 2px #50cc30;
	box-shadow: 4px 3px 2px #ccccaa;
	font-size: 14px;
	
}


.nameInput{
	margin: 5px 0px;
	text-align: center;
	font-size: 12px;
	

}

#nameInputer{
	width: 100px;
	
}


#startButtonDiv{
	margin: 10px 0px;
	text-align: center;
	
}

#startButton{
	width: 120px;
	height: 40px;
//	border: outset #50cc30;
//	border-radius: 15px;
//	background: linear-gradient(#ffffff, #c0ffaa);
	
	background-color: #c0ffaa;
	border: outset #a0ee40;
	border-top: none;
	border-left: none;
//	border: solid 4px #000000;
//	border-left: solid 8px #a0ee40;
	box-shadow: 2px 2px 5px #80aa50;

}





@media (max-aspect-ratio: 3/4){
	#body{
		box-sizing: border-box;
		width: 95vw;
		
	}
}

